body {
  margin: 0;
  font-family: 'Calibri', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.table {
  margin: 0 auto;
  padding: 10px;
  border-collapse: collapse; 
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container > * {
  margin-right: 10px; /* Espaçamento entre os botões */
}